.create-task_button {
  margin-bottom: 31px;
  width: 287px;
  height: 40px;
  background: #F5D57F;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--black-color);
}

.create-task_modal-overlay {
  position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
  opacity: 0;
	visibility: hidden;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, 
				opacity 0.25s 0s,
				transform 0.25s;
}

.create-modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color:#FFFBE3;
	width: 328px;
}

.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visibility 0s linear 0s, 
				opacity 0.25s 0s,
				transform 0.25s;
}

.create-modal_close-btn {
  width: 14px;
  height: 14px;
  margin: 19px 0 0 0;
}

.modal_header{
  display: flex;
  justify-content: space-around;
}

.modal__title {
  margin: 19px 0 0 20px;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.title-input{
  width: 288px;
  height: 40px;
  background: var(--white-color);
  border: 1px solid var(--blue-color);
  box-sizing: border-box;
  border-radius: 4px;
  margin: 14px 20px 17px 20px;
  font-size: 16px;
  line-height: 22px;
  color: var(--gray-color);
}
.description-input {
  width: 288px;
  height: 100px;
  background: var(--white-color);
  border: 1px solid var(--blue-color);
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 20px 10px 20px;
  font-size: 16px;
  line-height: 22px;
  color: var(--gray-color);
}

.error-text{
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #AC4141;
  margin: 0 0 16px 21px;
}

.save-button {
  background: #5F81B3;
  border-radius: 4px;
  width: 287px;
  height: 40px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--white-color);
  border: none;
  margin: 0 20px 10px 21px;
}

.cancel-button {
  width: 287px;
  height: 40px;
  background: #AEAEAE;
  border-radius: 4px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--white-color);
  border: none;
  margin: 0 20px 25px 21px;
}

