.delete-modal_overlay {
  position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
  opacity: 0;
	visibility: hidden;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, 
				opacity 0.25s 0s,
				transform 0.25s;
}

.delete-modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color:#FFFBE3;
	width: 328px;
  /* padding: 49px 45px 49px 44px; */
}

.show-modal2 {
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visibility 0s linear 0s, 
				opacity 0.25s 0s,
				transform 0.25s;
}

.delete-modal_close-btn {
  width: 14px;
  height: 14px;
  margin: 19px 0 0 0;
}